.aboutevent {
  padding: 2em;

  .line {
    height: 5px;
    width: 45px;
    margin-left: 0.7em;
    border-radius: 0.5em;
    background: $base_color;
    margin-bottom: 0.3em;
  }

  h2 {
    text-transform: capitalize;
    padding: 0.4em;
    font-family: $font_family;
    font-size: 2em;
    font-weight: 600;
  }

  @media only screen and (min-width: 1440px) {
    h2 {
      margin-left: 6em;
    }

    .line {
      margin-left: 13em;
    }
  }

  .details_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
  }

  .box {
    width: 400px;

    p {
      color: $text_color;
      font-family: $font_family;
      font-size: 1.2em;
    }
  }
}
