.cards_sect {
  .cards_cont {
    // display: flex;
    // justify-content: space-evenly;
    // align-content: center;
    // flex-wrap: wrap;
    padding: 2em;
    margin: 1em auto;

    .box {
      width: 300px;
      padding: 0;
      height: fit-content;
      background-color: rgb(240 242 246);
      margin: 25px 5px;
      position: relative;
      overflow: hidden;
      -webkit-box-shadow: 0 0 0 rgb(0 0 0 / 8%);
      box-shadow: 0 0 0 rgb(0 0 0 / 8%);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;

      .content {
        margin-top: 0;
        padding: 10px 25px 25px;
      }

      .icon {
        margin-top: -20px;
        padding: 0 15px;
        font-size: 84px;
        color: rgb(245 1 54);
        border-radius: 4px;
        display: block;
        line-height: 1;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }

      h2 {
        font-size: 24px;
        font-family: $font_family;
        font-weight: 600;
        color: rgb(24 24 28);
        margin-bottom: 15px;
        text-transform: capitalize;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }

      p {
        font-size: 14px;
        line-break: loose;
        line-height: 34px;
        font-weight: 400;
        color: rgb(131, 131, 131);
      }

      a {
        text-decoration: none;
      }

      h3 {
        font-size: 1em;
        font-family: $font_family;
        color: #000;
      }

      &:hover {
        background: $base_color;

        .icon {
          color: #fff;
        }

        h2 {
          color: #fff;
        }

        p {
          color: #fff;
        }

        h3 {
          color: #fff;
        }
      }
    }
  }
}
